---
http_interactions:
- request:
    method: post
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Contacts
    body:
      encoding: UTF-8
      string: '{"first_name":"Shark","last_name":"Nado"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.insight.ly/v2.1/Contacts/80192679
    body:
      encoding: UTF-8
      string: '{"CONTACT_ID":80192679,"SALUTATION":null,"FIRST_NAME":"Shark","LAST_NAME":"Nado","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","DEFAULT_LINKED_ORGANISATION":null,"DATE_CREATED_UTC":"2014-10-04
        18:24:32","DATE_UPDATED_UTC":"2014-10-04 18:24:32","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[],"CONTACTINFOS":[],"DATES":[],"TAGS":[],"LINKS":[],"CONTACTLINKS":[],"EMAILLINKS":[]}'
  recorded_at: Sat, 04 Oct 2014 18:24:25 GMT
recorded_with: VCR 2.9.0
