---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Contacts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"CONTACT_ID":79815697,"SALUTATION":null,"FIRST_NAME":"Ace","LAST_NAME":"Pro","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","DEFAULT_LINKED_ORGANISATION":null,"DATE_CREATED_UTC":"2014-10-01
        21:47:25","DATE_UPDATED_UTC":"2014-10-01 21:49:43","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[],"CONTACTINFOS":[{"CONTACT_INFO_ID":144455045,"TYPE":"EMAIL","SUBTYPE":"WORK","LABEL":"WORK","DETAIL":"aceprovovich@geemail.com"}],"DATES":[],"TAGS":[],"LINKS":[],"CONTACTLINKS":[],"EMAILLINKS":null},{"CONTACT_ID":79815792,"SALUTATION":null,"FIRST_NAME":"Acer","LAST_NAME":"Provovich","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","DEFAULT_LINKED_ORGANISATION":null,"DATE_CREATED_UTC":"2014-10-01
        21:52:24","DATE_UPDATED_UTC":"2014-10-02 20:37:15","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[],"CONTACTINFOS":[{"CONTACT_INFO_ID":144455200,"TYPE":"EMAIL","SUBTYPE":null,"LABEL":"WORK","DETAI[...]
