---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Opportunities/4070112
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"OPPORTUNITY_ID":4070112,"OPPORTUNITY_NAME":"#030031: Immunohistochemistry","OPPORTUNITY_DETAILS":"---Begin
        Synced Data---\n<b>Project Url:</b> https://www.scienceexchange.com/projects/30031\n<b>Estimate
        Deadline:</b> May  6, 2014\n---End Synced Data---","PROBABILITY":null,"BID_CURRENCY":"CAD","BID_AMOUNT":null,"BID_TYPE":null,"BID_DURATION":null,"FORECAST_CLOSE_DATE":null,"CATEGORY_ID":null,"PIPELINE_ID":null,"STAGE_ID":null,"OPPORTUNITY_STATE":"Open","IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","RESPONSIBLE_USER_ID":null,"OWNER_USER_ID":607181,"DATE_CREATED_UTC":"2014-07-31
        16:42:07","DATE_UPDATED_UTC":"2014-07-31 16:42:07","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"TAGS":[],"LINKS":[{"LINK_ID":45984204,"CONTACT_ID":null,"OPPORTUNITY_ID":4070112,"ORGANISATION_ID":35343476,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null},{"LINK_ID":45984205,"CONTACT_ID":70653014,"OPPORTUNITY_ID":4070112,"ORGANISATION_ID":null,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null},{"LINK_ID":45984206,"CONTACT_ID":70653014,"OPPORTUNITY_ID":4070112,"ORGANISATION_ID":null,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null}],"EMAILLINKS":[{"EMAIL_LINK_ID":61055125,"EMAIL_ID":17684953,"CONTACT_ID":null,"ORGANISATION_ID":null,"OPPORTUNITY_ID":4070112,"PROJECT_ID":null}]}'
  recorded_at: Sat, 04 Oct 2014 23:59:23 GMT
recorded_with: VCR 2.9.0
