---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Opportunities
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"OPPORTUNITY_ID":4070111,"OPPORTUNITY_NAME":"#029344: RNA microarray","OPPORTUNITY_DETAILS":"---Begin
        Synced Data---\n<b>Project Url:</b> https://www.scienceexchange.com/projects/29344\n<b>Estimate
        Deadline:</b> November 29, 2013\n---End Synced Data---","PROBABILITY":null,"BID_CURRENCY":"USD","BID_AMOUNT":null,"BID_TYPE":null,"BID_DURATION":null,"FORECAST_CLOSE_DATE":null,"CATEGORY_ID":null,"PIPELINE_ID":null,"STAGE_ID":null,"OPPORTUNITY_STATE":"Open","IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","RESPONSIBLE_USER_ID":null,"OWNER_USER_ID":607181,"DATE_CREATED_UTC":"2014-07-31
        16:42:07","DATE_UPDATED_UTC":"2014-07-31 16:42:07","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"TAGS":[],"LINKS":[{"LINK_ID":45984201,"CONTACT_ID":null,"OPPORTUNITY_ID":4070111,"ORGANISATION_ID":35343491,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null},{"LINK_ID":45984202,"CONTACT_ID":70653020,"OPPORTUNITY_ID":4070111,"ORGANISATION_ID":null,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null},{"LINK_ID":45984203,"CONTACT_ID":70653020,"OPPORTUNITY_ID":4070111,"ORGANISATION_ID":null,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null}],"EMAILLINKS":null},{"OPPORTUNITY_ID":4070112,"OPPORTUNITY_NAME":"#030031:
        Immunohistochemistry","OPPORTUNITY_DETAILS":"---Begin Synced Data---\r\n<b>Project
        Url:</b> https://www.scienceexchange.com/projects/30031\r\n<b>Estimate Deadline:</b>
        May  6, 2014\r\n---End Synced Data---","PROBABILITY":null,"BID_CURRENCY":"CAD","BID_AMOUNT":null,"BID_TYPE":null,"BID_DURATION":null,"FORECAST_CLOSE_DATE":null,"CATEGORY_ID":null,"PIPELINE_ID":124170,"STAGE_ID":377385,"OPPORTUNITY_STATE":"Open","IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","RESPONSIBLE_USER_ID":null,"OWNER_USER_ID":607181,"DATE_CREATED_UTC":"2014-07-31
        16:42:07","[...]
