---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Contacts/70653019
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"CONTACT_ID":70653019,"SALUTATION":null,"FIRST_NAME":"John","LAST_NAME":"Smith","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","DEFAULT_LINKED_ORGANISATION":35343491,"DATE_CREATED_UTC":"2014-07-31
        16:41:51","DATE_UPDATED_UTC":"2014-10-04 17:54:50","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[],"CONTACTINFOS":[{"CONTACT_INFO_ID":130210198,"TYPE":"EMAIL","SUBTYPE":null,"LABEL":"WORK","DETAIL":"test-researcher123123@test.com"},{"CONTACT_INFO_ID":145027804,"TYPE":"PHONE","SUBTYPE":null,"LABEL":"WORK","DETAIL":"12345678"},{"CONTACT_INFO_ID":145034384,"TYPE":"SOCIAL","SUBTYPE":"LinkedInPublicProfileUrl","LABEL":"LinkedInPublicProfileUrl","DETAIL":"https://www.linkedin.com/profile/view?trk=contacts-contacts-list-contact_name-0&id=118401230"}],"DATES":[],"TAGS":[{"TAG_NAME":"Requester"}],"LINKS":[{"LINK_ID":45984180,"CONTACT_ID":70653019,"OPPORTUNITY_ID":null,"ORGANISATION_ID":35343491,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null},{"LINK_ID":45984227,"CONTACT_ID":70653019,"OPPORTUNITY_ID":4070119,"ORGANISATION_ID":null,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":null,"DETAILS":null}],"CONTACTLINKS":[],"EMAILLINKS":[{"EMAIL_LINK_ID":61049665,"EMAIL_ID":17683283,"CONTACT_ID":70653019,"ORGANISATION_ID":null,"OPPORTUNITY_ID":null,"PROJECT_ID":null}]}'
  recorded_at: Sat, 04 Oct 2014 18:35:33 GMT
- request:
    method: put
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Contacts
    body:
      encoding: UTF-8
      string: '{"CONTACT_ID":70653019,"SALUTATION":null,"FIRST_NAME":"John","LAST_NAME":"Smith","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","DEFAULT_LINKED_ORGANISATION":35343491,"DATE_CREATED_UTC":"2014-07-31
        16:41:51","DATE_UPDATED_UTC":"2014-10-04 17:54:50","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS"[...]
