---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Organisations/39831139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ORGANISATION_ID":39831139,"ORGANISATION_NAME":"WeCellStuff.com","BACKGROUND":"We
        are in the business of developing cell therapies for eventual clinical use,
        not pushing research products or services with ridiculous profit margins.
        Our product and service offerings have been developed as a side effect of
        our ongoing research, and everything we sell is used on a regular basis by
        our own staff scientists.  We make these products and services available at
        the lowest cost possible to facilitate scientific discovery, and 100% of our
        proceeds are used to help finance our own research programs. We thank you
        for your support, and trust you will enjoy doing business with our team.","IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/339351/","OWNER_USER_ID":607181,"DATE_CREATED_UTC":"2014-10-01
        17:14:53","DATE_UPDATED_UTC":"2014-10-05 07:01:33","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[],"CONTACTINFOS":[],"DATES":[],"TAGS":[],"LINKS":[],"ORGANISATIONLINKS":[],"EMAILLINKS":[{"EMAIL_LINK_ID":61058077,"EMAIL_ID":17684953,"CONTACT_ID":null,"ORGANISATION_ID":39831139,"OPPORTUNITY_ID":null,"PROJECT_ID":null}]}'
  recorded_at: Sun, 05 Oct 2014 07:01:27 GMT
- request:
    method: put
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.1/Organisations
    body:
      encoding: UTF-8
      string: '{"ORGANISATION_ID":39831139,"ORGANISATION_NAME":"WeCellStuff.com","BACKGROUND":"We
        are in the business of developing cell therapies for eventual clinical use,
        not pushing research products or services with ridiculous profit margins.
        Our product and service offerings have been developed as a side effect of
        our ongoing res[...]
